@import 'https://fonts.googleapis.com/css?family=Handlee|Montserrat+Alternates';

body {
	background-color: grey;
}

.heading {
	font-family: 'Montserrat Alternates', 'Open Sans', sans-serif;
}

.cover-image {
	background-image: url('../images/bg.jpg');
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.repoLogo {
	/*background-image: linear-gradient(to bottom right,#56ab2f,#a8e063);*/
	border-radius: 50%;
	width: 70%;
	text-align: center;
}

.image-center {
	display: block;
	margin: auto;
}

.title {
	font-family: 'Montserrat Alternates', serif;
	font-size: 36px;
	word-wrap: break-word;
	text-transform: capitalize;
	color: #000000
}

.description {
	font-family: Handlee, sans-serif;
	font-size: 20px;
	text-align: center;
}

#app {
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.custom-btn {
	display: inline-block;
	width: 200px;
	padding: 15px;
	margin: 5px;
	font-size: 16px;
	color: #ffffff;
	font-family: "Open Sans", Lato, Roboto, sans-serif;
	background-color: transparent;
	font-weight: 300;
	border: 2px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
}
.custom-btn:hover,
.custom-btn:active {
	background-color: rgba(206, 93, 93, 0.7);
	border-color: #fff;
	color: #fff;
	transition: color 0.3s ease-in,
		background-color 0.3s ease-in,
		border-color 0.3s ease-in;
}

.custom-input {
	width: 100%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.bg-text-player1 {
	padding: 10px;
	border-radius: 7px;
	background-color: rgba(241, 240, 240, 75);
}

.profile-pic {
	width: 100px;
	height: 100px;
}

.bg-text-player2 {
	padding: 10px;
	border-radius: 7px;
	background-color: rgba(0, 132, 255, 75);
}

.custom-footer {
	background-color: rgba(255,255,250,0.1);
	font-family: "Roboto", "Montserrat", "Lato";
	font-weight: 500;
	font-size: 14px;
}

.back-btn {
	border-radius: 50%;
	background-color: rgba(241, 240, 240, 75);
	position: relative;
}

.right {
    position: absolute;
    right: 0px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}